<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
        <div class="container">
                <h1 class="text-center">Ajout d'un utilisateur</h1>
                {%from "_formhelpers.html" import render_field %}
                <form method="post" action"" name="adduser">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.username) }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm) }}
                        <div class="text-center">
		                {{ form.submit(class="btn btn-success center-block",style="display:inline;") }}
                        </div>
	        </form>
        </div>
{% endblock %}
