{% extends "base.html" %}
{% block content %}
	<div class="container">
		<h1 class="text-center">Liste des devoirs</h1>
		<!-- My Homeworks filter form -->
		<div style="width:100%;">
			<form style="width:100%;" class="form-inline text-center" method="post" role="form" action={{ url_for('homework.list_homeworks') }}>
				{{ homework_filter_form.hidden_tag() }}
				{{ render_field(homework_filter_form.from_user_filter) }}	
				{{ render_field(homework_filter_form.to_user_filter) }}	
				{{ render_field(homework_filter_form.submit_homework,label_visible=false,class="btn btn-success") }}
			</form>
		</div>
		<div>
                        {%if homeworks|length > 0 %}
			<table class="table table-striped" id="homeworks_list">
			<tr class="text-center">
                                <th class="text-center" style="width:25%;">Titre {{ g.messages["label_generic_possessive"] }}</th>
				<th class="text-center">Réalisateur</th>
				<th class="text-center">De:</th>
				<th class="text-center">A:</th>
				<th class="text-center">Note</th>
				<th class="text-center"></th>
				<th class="text-center"></th>
			</tr>
			{% for cur_homework in homeworks %}
			<tr class="text-center">
				<td><a href="{{ url_for('show.display_show',show_id=cur_homework.show_id,show_type=g.show_type) }}">{{ cur_homework.show.name }}</a></td>
				<td>{{ cur_homework.show.director }}</td>
				<td>{{ cur_homework.homework_who_user.nickname }}</td>
				<td>{{ cur_homework.user.nickname }}</td>
				{% if cur_homework.mark == None %}
					{% if cur_homework.user.id == g.user.id %}
						<td><a class="btn btn-primary btn-xs" href="{{ url_for('show.mark_show',show_id_form=cur_homework.show.id,show_type=g.show_type) }}">Noter</a>
					{% else %}
						 <td><a class="disabled btn btn-warning btn-xs">En cours</a>
					{% endif %}
				{% else %}
					<td><strong>{{ cur_homework.mark }}</strong></td>
				{% endif %}
				<td>
					{% if cur_homework.homework_who == g.user.id and cur_homework.mark == None %}
						<a href="{{ url_for("homework.delete_homework", user_id=cur_homework.user.id,show_id=cur_homework.show.id) }}"<i class="fa fa-times fa-1x" id="redcross"/></a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</table>
                        {% else %}
		                <h2 class="text-center">Aucun devoir disponible</h2>
                        {% endif %}
		</div>
	</div>
{% endblock %}
