{% extends "base.html" %} 
{% block content %}
	<div class="container">
		<div class="row text-center col-md-offset-1 col-md-10">	
                        <h1>{{g.messages["label_select"] }} (Page {{ cur_page }} / {{ total_pages }})</h1>
			<ul class="pager">
				{% if has_prev %}
				<li class="previous">
					<a id="prev" href="{{ url_for('show.select_' + endpoint + '_show', show_type=g.show_type,page=cur_page - 1) }}"><span aria-hidden="true">&larr;</span> Page {{ cur_page - 1 }}</a>
				</li>
				{% endif %}
				{% if has_next %}
				<li class="next">
					<a id="next" href="{{ url_for('show.select_' + endpoint + '_show', show_type=g.show_type,page=cur_page + 1) }}"> Page {{ cur_page + 1 }} <span aria-hidden="true">&rarr;</span></a>
				</li>
				{% endif %}
			</ul>
		</div>
		<form action="{{ url_for('show.confirm_' + endpoint + '_show',show_type=g.show_type) }}" method="post" name="selectshow">
		{{ select_form.hidden_tag() }}
		<div class="row col-md-offset-1 col-md-10">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Sélection</th>
                                                <th>{{ g.messages["label_show_type"] }}</th>
					</tr>
				</thead>
				<tbody>
					{% for option in select_form.show %}
					<tr>
						<td class="text-center">{{ option }}</td>
						<td>{{ option.label(class_="radio_label") }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="row text-center col-md-offset-1 col-md-10">	
			{{ select_form.submit_select(class="btn btn-success center-block") }}	
		</div>
		</form>
		<div id="container_overlay">
			<div id="spinner" class="spinner"/>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
		    $("#prev").click(function() {
		        $('#container_overlay').show();	
		    });
		    $("#next").click(function() {
		        $('#container_overlay').show();	
		    });
		});
	</script>
{% endblock %}
